*{
  box-sizing: border-box;
}

.fixed-footer {
    align-items: center;
    background-color: rgb(240, 235, 235);
    bottom: 0;
    color: black;
    display: flex;
    font-size: 15px;
    height: 10%;
    justify-content: center;
    position: fixed;
    text-transform: uppercase;
    width: 100%;

  }

  