*{
  box-sizing: border-box;
}

.fixed-footer {
    align-items: center;
    background-color: #95b8f6;
    bottom: 0;
    color: whitesmoke;
    display: flex;
    font-size: 5em;
    height: 10%;
    justify-content: center;
    position: fixed;
    text-transform: uppercase;
    width: 100%;
  }
  