.general {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}




.general header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    padding: 15px 45px;
    z-index: 10;
    background: rgb(240, 235, 235);
}



.general header .titulo {
    display: flex;
    margin-top: 15px;
}

.general header .titulo li {
    list-style: none;   
    margin: 0 -10px;
}

.general header .titulo li a {
    color: black;
    font-size: 30px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

.general header .titulo li a:hover {
    color: #003618;
}


.general header .navegacion {
    position: absolute;
    top: 50%;
    left: 49%;
  transform: translate(-50%, -50%);
}

.general header .navegacion li {
    list-style: none;
}

.general header .navegacion li a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

.general header .navegacion li a:hover {
    color: #003618;
}